.newTaskButton {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	color: var(--color-text);
	height: 34px;
	padding: 0 0.5rem;
	cursor: default;
}

.newTaskButton:hover {
	background: var(--color-hover);
}

.newTaskButton svg {
	width: 15px;
	height: 15px;
}
