.tooltip__tip {
	font-size: 11px;
	color: var(--color-text-heading);
	background: var(--color-body);
	border: var(--border);
	border-radius: 2px;
	padding: 0 4px;
	line-height: 18px;
	display: none;
	align-items: center;
	gap: 2px;
	position: absolute;
	left: 26px;
	white-space: nowrap;
}

.tooltip__tip--right {
	left: unset;
	right: 26px;
}

.tooltip:hover + .tooltip__tip {
	display: flex;
}
