.buttonTaskTableOpen {
	display: flex;
	place-items: center;
	background: transparent;
	border: 0;
	padding: 0 2px;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	border-radius: 4px;
	margin-top: 2px;
}

.buttonTaskTableOpen:focus,
.buttonTaskTableOpen:active {
	outline: 0;
}

.buttonTaskTableOpen:hover {
	background: rgba(255, 255, 255, 0.07);
}

.buttonTaskTableOpen svg {
	width: 18px;
	height: 18px;
	color: rgba(255, 255, 255);
	opacity: 0.6;
}

.buttonTaskTableOpen--open {
	transform: rotate(180deg);
}
