.taskTable {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	width: 300px;
	margin-left: 64px;
	margin-bottom: 15px;
	border-right: var(--border);
}

.taskTable__header {
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	border-bottom: var(--border);
	line-height: 28px;
	font-weight: 500;
	padding: 0 8px;
}

.taskTable__headerClose {
	flex-grow: 0;
	align-self: flex-end;
	margin-bottom: auto;
}

.taskTable__tasks {
	flex: 1;
}

.taskTable__tasks > * {
	border-bottom: var(--border);
}
