.taskTableTask {
	position: relative;
	display: flex;
	align-items: center;
	height: 34px;
	padding: 0 8px;
	font-size: 1rem;
	cursor: default;
	text-align: left;
}

.taskTableTask__title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 600;
	flex: 1;
}

.taskTableTask__actions {
	position: absolute;
	top: auto;
	left: 0;
	bottom: auto;
	display: flex;
	transform: translateX(-100%);
	padding-right: 2px;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}

.taskTableTask__actions:hover,
.taskTableTask:hover .taskTableTask__actions {
	opacity: 1;
}

.taskTableTask__action {
	cursor: grab;
	display: flex;
	place-items: center;
	background: transparent;
	border: 0;
	padding: 2px;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	border-radius: 4px;
}

.taskTableTask__action:focus,
.taskTableTask__action:active {
	outline: 0;
}

.taskTableTask__action:hover {
	background: rgba(255, 255, 255, 0.07);
}

.taskTableTask__action svg {
	width: 18px;
	height: 18px;
	color: rgba(255, 255, 255);
	opacity: 0.6;
}

.taskTableTask__textarea textarea {
	position: absolute;
	top: -2px;
	left: 0;
	right: 0;
	min-height: 22px;
	padding: 7px 8px;
	border-radius: 4px;
	background: rgb(45 45 45);
	z-index: 2;
}
