.tasksTimeline {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 1px 0 64px;
}

.tasksTimeline__addNew {
	position: absolute;
	height: 30px;
	bottom: 32px;
	left: 0;
	right: 0;
}
