.gantt {
	position: relative;
}

.gantt__wrapper {
	display: flex;
	flex-direction: column;
	width: max-content;
	height: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.gantt__scrollable {
	width: 80vw;
	overflow-x: auto;
}
