.gantt {
	display: flex;
	width: 100%;
}

.gantt__tasksTable {
	display: flex;
}

.gantt__scrollableContainer {
	position: relative;
	min-width: 0;
}

.gantt__wrapper {
	display: flex;
	flex-direction: column;
	width: max-content;
	height: 100%;
}

.gantt__scrollable {
	overflow-x: auto;
}

.gantt__newTask {
	position: absolute;
	bottom: 46px;
}
