:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* TODO: Can't do this in a module might break peoples stuff */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0);
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
}

#root {
	margin-top: 12.5vh;
	padding: 24px;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

input {
	font: inherit;
	color: inherit;
}

input::placeholder {
	color: #ffffff66;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.action {
	display: flex;
	place-items: center;
	background: transparent;
	padding: 0;
	border: 0;
	padding: 0 2px;
}

.action:focus,
.action:active {
	outline: 0;
}

.action:hover {
	background: rgba(255, 255, 255, 0.07);
}

.action svg {
	width: 18px;
	color: rgba(255, 255, 255, 0.87);
	opacity: 0.6;
}
