.taskDraggableHandle {
	position: absolute;
	left: -6px;
	top: 0.25rem;
	bottom: 0.25rem;
	width: 0.75rem;
	display: flex;
	justify-content: center;
	cursor: col-resize;
	z-index: 4;
}

.taskDraggableHandle--right {
	left: unset;
	right: -6px;
}

.taskDraggableHandle__handle {
	visibility: hidden;
	height: 100%;
	width: 0.25rem;
	border-radius: var(--radius-sm);
	background: var(--color-text-heading);
}

.taskDraggableHandle--dragging .taskDraggableHandle__handle,
.taskDraggableHandle:hover .taskDraggableHandle__handle {
	visibility: visible;
}

.taskDraggableHandle__tooltip {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	transform: translateX(-14px);
	align-items: center;
	display: none;
}

.taskDraggableHandle--dragging .taskDraggableHandle__tooltip,
.taskDraggableHandle:hover .taskDraggableHandle__tooltip {
	display: flex;
}

.taskDraggableHandle--right .taskDraggableHandle__tooltip {
	transform: translateX(calc(100%));
}
