.taskContent {
	width: 100%;
	display: flex;
	color: var(--color-text-heading);
}

.taskContent--focused .taskContent__bar {
	background: var(--color-hover);
}

.taskContent--focused .taskContent__title {
	overflow: hidden;
}

.taskContent--focused .taskContent__title--behind {
	display: block;
}

.taskContent__bar {
	height: 30px;
	width: calc(100% - 3px);
	margin: 0 1px 0 2px;
	border-radius: var(--radius-md);
	display: flex;
	align-items: center;
	background: var(--color-body);
	box-shadow: var(--box-shadow);
}

.taskContent__content {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	gap: 4px;
	align-items: center;
	height: 30px;
	padding-left: 6px;
	width: max-content;
}

.taskContent__title {
	font-weight: 600;
	white-space: nowrap;
}

.taskContent__title--behind {
	display: none;
	color: var(--color-text);
	position: absolute;
	left: 6px;
	z-index: -1;
}

.taskContent__dependencyHandle {
	position: absolute;
	top: 0;
	right: -14px;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 14px;
}

.taskContent__dependencyHandle__tag {
	position: relative;
	width: 4px;
	height: 4px;
	border-radius: var(--radius-full);
	border: 2px solid coral;
	box-shadow: var(--box-shadow);
}

.taskContent__dependencyHandle:hover {
	transform: scale(1.3);
}

.taskContent__dependencyHandle__tag::before {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: -8px;
	width: 8px;
	height: 2px;
	background: coral;
}
