.newTaskButton {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 15px;
	color: #ffffff71;
	height: 34px;
	padding: 0 8px;
	cursor: default;
}

.newTaskButton:hover {
	background: rgba(255, 255, 255, 0.05);
}

.newTaskButton svg {
	width: 15px;
	height: 15px;
}
