.taskNew {
	display: flex;
	align-items: center;
	gap: 4px;
	cursor: crosshair;
	height: 30px;
}

.taskNew:hover .taskNew__action {
	display: none;
}

.taskNew__action {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 15px;
	color: #ffffff71;
}

.taskNew svg {
	width: 15px;
	height: 15px;
}
