.taskSortable__marker {
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background: rgb(152, 204, 225);
	visibility: hidden;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}

.taskSortable__marker--after,
.taskSortable__marker--before {
	visibility: visible;
	opacity: 0.8;
}

.taskSortable__marker--before {
	top: -3px;
}

.taskSortable__marker--after {
	bottom: -3px;
}
