.today {
    position:absolute;
    top: -2px;
    height: 30vh;
    width: 1px;
    height: calc(100% + 2px);
    background: rgb(180, 65, 60);
}

.today::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(3px, -3px);
    background: rgb(180, 65, 60);
    width: 6px;
    height: 6px;
    border-radius: 6px;
}