.header {
	position: relative;
	display: flex;
	align-items: flex-start;
	padding-bottom: 4px;
	border-bottom: var(--border);
	width: max-content;
	height: 56px;
}

.header__block {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}

.header__month {
	font-size: 15px;
	font-weight: 600;
	color: var(--color-text-heading);
}

.header__week {
	position: relative;
	display: flex;
}

.header__day {
	width: var(--grid-width);
	font-size: 12px;
	height: 28px;
	text-align: center;
}

.header__date {
	position: absolute;
	left: var(--date-x);
	line-height: 28px;
	transform: translateX(-50%);
}

.header__day--range {
	opacity: 0.75;
}

.header__day--range-start,
.header__day--range-end {
	opacity: 1;
}
