.headerSticky {
	position: absolute;
	z-index: 2;
	display: flex;
	gap: 0.25rem;
	align-items: center;
	height: 22.5px;
	padding-left: 0.25rem;
	background: linear-gradient(90deg, var(--color-body) 90%, transparent);
}

.headerSticky__month {
	color: var(--color-text-heading);
	z-index: 2;
	padding-left: 0.5rem;
	padding-right: 20px;
}

* + .headerSticky__month {
	padding-left: 0;
}
