:root {
	--color-accent: #8154f2;
	--color-body: #fff;
	--color-contrast: #2d2d2d;

	--color-accent-hover: color-mix(in srgb, var(--color-accent), var(--color-contrast) 12%);
	--color-text: color-mix(in srgb, var(--color-text-heading), var(--color-body) 33%);
	--color-text-heading: color-mix(in srgb, var(--color-contrast) 75%, var(--color-body));
	--color-text-secondary: color-mix(in srgb, var(--color-text), var(--color-body) 50%);
	--color-border: color-mix(in srgb, var(--color-text), var(--color-body) 75%);
	--color-hover: color-mix(in srgb, var(--color-text), var(--color-body) 95%);
	--color-overlay: color-mix(in srgb, var(--color-contrast), transparent 95%);

	--color-today: rgb(180, 65, 60);
	--color-task: color-mix(in srgb, var(--color-text), var(--color-body) 99%);

	--font-size-sm: 0.75rem;

	--radius-sm: 0.25rem;
	--radius-md: 0.375rem;
	--radius-full: 10rem;

	--border: 1px solid var(--color-border);

	--box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
	--box-shadow-l2: rgba(0, 0, 0, 0.1) 0px 14px 28px -6px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px, rgba(84, 72, 49, 0.08) 0px 0px 0px 1px;
}

body {
	background-color: var(--color-body);
}

.gantt {
	display: flex;
	width: 100%;
	color: var(--color-text);
}

.gantt__tasksTable {
	display: flex;
}

.gantt__scrollableContainer {
	position: relative;
	min-width: 0;
	flex: 1;
}

.gantt__wrapper {
	display: flex;
	flex-direction: column;
	width: max-content;
	height: 100%;
}

.gantt__scrollable {
	overflow-x: auto;
}

.gantt__newTask {
	position: absolute;
	bottom: 46px;
}

* {
	scrollbar-color: var(--color-contras) rgba(0, 0, 0, 0);
}
