.taskOverflow {
	position: absolute;
	z-index: 3;
	display: flex;
	gap: 4px;
	align-items: center;
	height: 30px;
	padding: 0 6px;
}

.taskOverflow__button {
	width: 16px;
	height: 16px;
	padding: 4px;
	background: rgba(255, 255, 255, 0.443);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	color: white;
	flex-shrink: 0;
	transform: scale(0);
	transform-origin: center;
	opacity: 0;
	transition: transform 250ms ease-in-out;
}

.taskOverflow__button--active {
	opacity: 1;
	transform: scale(1);
}

.taskOverflow__button:hover {
	background: rgba(255, 255, 255, 0.8);
}

.taskOverflow__button svg {
	width: 12px;
}

.taskOverflow__tooltip {
	display: flex;
	align-items: center;
	gap: 2px;
}

.taskOverflow__tooltip svg {
	width: 13px;
	height: 13px;
}
